.heading-2 {
    color: #252525;
    font-size: 20px;
    position: relative;
    margin-bottom: 30px;
}
.heading-2:before {
    background-color: #aa914d;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    left: 0;
    bottom: -10px;
    width: 40px;
}
.heading-2 a {
    color: #252525;
    text-decoration: none;
}
.card-group .card-body{
    padding: 0px;
}
.card-group .card .card-a img {
    display: block;
    height: 150px;
    overflow: hidden;
    text-align: center;
}
.card-group .card{
    padding: 10px;
    border: 0;
}
.card-group .card-title{
    overflow: hidden;
    height: 100px;;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
    line-height: 1.2;
}
.col-md-9 .card-group .card-text{
    height: 105px !important;
    overflow: hidden;
    font-size: 14px;
}
.col-md-3 .card-group .list-style-1{
    padding-top: 15px;
    font-size: 14px;
    list-style: none;
    padding-left: 20px;
}
.col-md-3 .card-group .list-style-1 li{
    margin-top: 10px;
}
.col-md-3 .card-group .list-style-1 li i{
    width: 20px;
    text-indent: -20px;
    margin-right: -20px;
}
.list-style-1 li a, .list-style-1 li a:hover{
    color: #878787;
}
.c-blue-a5 {
    color: #024282 !important;
}