body{
    color: #000;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
    line-height: 1.7;
}
  

.carousel-control-next,.carousel-control-prev{
    height: 5% !important;
    width: 5% !important;
    position: absolute !important;
    top: 80% !important;
    z-index: 1 !important;
}

.carousel-control-prev{
    position: absolute !important;
    left: 90% !important;
}
.carousel-control-next{
    position: absolute !important;
    right: 1% !important;
}
.navbar{
    display: flex !important;
}
.gnav {
    position: relative;
    z-index: 98;
}
.gnav nav * {
    color: #fff;
}
.gnav nav {
    padding: 30px 0;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    -ms-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    z-index: 95;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.gnav nav p {
    font-size: 18px;
    margin: 30px 0 0 30px;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    touch-action: manipulation;
}
.gnav nav.toggled {
    background-color: rgba(2,66,130,0.95);
    bottom: 100%;
    opacity: 1;
    filter: none;
    -webkit-transform: translate3d(0,100%,0);
    -ms-transform: translate3d(0,100%,0);
    -o-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}
.gnav .sub-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 30px;
}
.gnav .sub-nav li {
    font-size: 14px;
    padding: 10px 0 0 0;
}
.gnav .sub-nav li a {
    color: #d2d2d2;
}
.gnav .sub-nav li i {
    margin-right: 5px;
}
.gnav .sub-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 30px;
}
.btn-gnav i {
    position: relative;
    z-index: 97;
    font-size: 28px;
    top: -10px;
}
.btn-gnav {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    line-height: 1;
    margin: 0 0 0 -50px;
    padding: 0;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 99;
}
.btn-gnav:before {
    content: '';
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: rgba(0,0,0,0.15) transparent transparent transparent;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 95;
}
.btn-gnav:after {
    content: '';
    border-style: solid;
    border-width: 50px 50px 0 50px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 96;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.c-blue-a5 {
    color: #024282 !important;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn {
    display: inline-block;
    font-weight: normal;
    
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    
  
    font-size: 1rem;
    
    transition: all .2s ease-in-out;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
.main .title-m{
    height: 120px;
    background-color: rgba(0,0,0,0.45);
    position: relative;
    bottom: 120px;
    color: #fff;
    display: flex;
    align-items: center;
}

.main-gt .media-h{
    display: flex;
    align-items: flex-start;
}
.head-1{
    padding:24px;
    background-color: #efece8;
}
.cate{
    border-top: 1px solid #d7d7d7;
    padding: 35px 0;
    font-size: 14px;
}
.main-gt .media-fg{
    max-width: 170px;
    overflow: hidden;
}
.main-gt .mr3{
    margin-right: 16px !important;
}

.main-gt  .media-m{
    flex: 1;
}
 .title a{
    color: #024282;
    font-size: 20px;
    font-weight: 600;
}
.mb0{
    margin-top: 0 !important;
    padding-left: 0;
}

.list-sub,li{
    padding-top: 8px;
    list-style: none;
}
.list-sub a{
    color: #000;
}
.banner{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    padding: 0px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
.dr{
    display: flex;
    background-color: rgb(44, 108, 173);
    padding-left: 100px;
}  
.cl-1{
    background-color: #fff !important;
    color: rgba(44, 108, 173, 0.82);
}
.btn{
    border: 0;
    border-radius: 0;
    height: 50px;
    background-color: rgba(44, 108, 173, 0.82) ;
}
.btn:hover{
    background-color:  rgb(34, 84, 134, 0.82);
}
.dr-1{
    background-color: rgba(44, 108, 173, 0.8);
    margin: 0;
    border-radius:0; 
    padding: 0;
    border: 0;
    
}
.dr-1 a{
    color: #fff;
}
.dr-1 a:hover{
    background-color:  rgb(34, 84, 134, 0.82);
    color: #fff;
}